<div class="page">
  <mat-card class="loginCard">
    <mat-card-header>
      <mat-card-title>Giriş Yap</mat-card-title>
      <mat-card-subtitle>Hesabına giriş yap</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="error" class="error">
        <mat-icon>error</mat-icon>
        <span>{{ error }}</span>
      </div>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input
          matInput
          [(ngModel)]="email"
          type="email"
          placeholder="ahmet@example.com"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Şifre</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          matInput
          [(ngModel)]="password"
          type="password"
          placeholder="••••"
          autocomplete="new-password"
        />
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="w-100"
        (click)="login()"
        [disabled]="loading"
      >
        <mat-icon *ngIf="!loading">login</mat-icon>
        <mat-progress-spinner
          *ngIf="loading"
          mode="indeterminate"
          diameter="18"
        ></mat-progress-spinner>

        <span style="margin-left: 8px;">
          {{ loading ? 'Giriş yapılıyor...' : 'Giriş Yap' }}
        </span>
      </button>

      <div class="footer">
        <span>Hesabın yok mu?</span>
        <a routerLink="/register">Kayıt Ol</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
