:host ::ng-deep .navbar {
  background-color: #212529 !important;
}
:host ::ng-deep .navbar .navbar-brand,
:host ::ng-deep .navbar .nav-link,
:host ::ng-deep .navbar .dropdown-toggle,
:host ::ng-deep .navbar .dropdown-item {
  color: #fff !important;
}
:host ::ng-deep .navbar .dropdown-menu {
  background-color: #343a40 !important;
}
:host ::ng-deep .navbar .dropdown-item:hover,
:host ::ng-deep .navbar .dropdown-item:focus {
  background-color: #495057 !important;
  color: #fff !important;
}
:host ::ng-deep .navbar .btn-outline-light {
  color: #fff;
  border-color: #fff;
}
:host ::ng-deep .navbar .btn-outline-light:hover {
  background-color: #fff;
  color: #212529;
}
