<div class="container d-flex flex-column justify-content-center align-items-center vh-100 text-center">
  <h1 class="display-1 fw-bold text-primary mb-3">404</h1>
  <div class="d-flex align-items-center mb-4">
    <i class="bi bi-exclamation-triangle-fill display-4 text-warning me-3"></i>
    <h2 class="fw-normal text-secondary">Sayfa Bulunamadı</h2>
  </div>
  <p class="lead text-muted mb-4">
    Üzgünüz, aradığınız sayfa mevcut değil veya taşınmış olabilir.
  </p>
  <a [routerLink]="['/']" class="btn btn-primary btn-lg"><i class="bi bi-house-door-fill me-2"></i>  Ana Sayfaya Dön</a>
</div>