.register-wrapper{
    position: relative;
	min-height: calc(100vh - 56px); /* navbar yüksekliği varsayım */
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 1rem;
	z-index: 0;
}
.register-card{}