<div class="container mt-5">
  <div class="card shadow-lg border-0 rounded-4">
    <div class="card-header bg-success text-white text-center py-4">
      <h3 class="mb-0">{{ user.name | titlecase}}</h3>
      <small>{{ user.email| titlecase }}</small>
    </div>
    <div class="card-body p-4">
      <p><strong>Rol:</strong> {{ user?.role | titlecase }}</p>

      <!-- Kurslar -->
      <h5 class="mt-4">Kurslarım</h5>
      <ul class="list-group list-group-flush">
        @for (course of user?.courses; track $index) {
        <li  class="list-group-item">
          {{ course.title || '-' }}
        </li>
        }
      </ul>

      <!-- Dersler -->
      <h5 class="mt-4">Derslerim</h5>
      <ul class="list-group list-group-flush">
        @for (lesson of user?.lessons; track $index) {
        <li  class="list-group-item">
          {{ lesson.lesson_name || '(isim girilmemiş)' }}
        </li>
    }
      </ul>
    </div>
  </div>
</div>
@if(!user) {
<div class="text-center mt-5">
  <div class="spinner-border text-success" role="status"></div>
  <p class="mt-2">Profil yükleniyor...</p>
</div>
}
