body {
    font-family: Arial;
}

label {
    margin-right: 10px;
    width: 100px;
    display: inline-block;
}

.checkboxLabel {
    margin-right: 3px;
    display: inline;
}

.formSpace {
    margin-bottom: 10px;
}

.formInput {
    padding: 10px;
    font-size: 17px;
    width: 300px;
}