:root, [data-bs-theme=light] {
  --bs-primary: #ba4c63;
  --bs-primary-rgb: 186,76,99;
  --bs-primary-text-emphasis: #4A1E28;
  --bs-primary-bg-subtle: #F1DBE0;
  --bs-primary-border-subtle: #E3B7C1;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ba4c63;
  --bs-btn-border-color: #ba4c63;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9E4154;
  --bs-btn-hover-border-color: #953D4F;
  --bs-btn-focus-shadow-rgb: 245,228,232;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #953D4F;
  --bs-btn-active-border-color: #8C394A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ba4c63;
  --bs-btn-disabled-border-color: #ba4c63;
}

.btn-outline-primary {
  --bs-btn-color: #ba4c63;
  --bs-btn-border-color: #ba4c63;
  --bs-btn-focus-shadow-rgb: 186,76,99;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ba4c63;
  --bs-btn-hover-border-color: #ba4c63;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ba4c63;
  --bs-btn-active-border-color: #ba4c63;
  --bs-btn-disabled-color: #ba4c63;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ba4c63;
}

[data-bs-theme=dark] {
  --bs-success: #ba4c63;
  --bs-success-rgb: 186,76,99;
  --bs-success-text-emphasis: #D694A1;
  --bs-success-bg-subtle: #250F14;
  --bs-success-border-subtle: #702E3B;
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ba4c63;
  --bs-btn-border-color: #ba4c63;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9E4154;
  --bs-btn-hover-border-color: #953D4F;
  --bs-btn-focus-shadow-rgb: 245,228,232;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #953D4F;
  --bs-btn-active-border-color: #8C394A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ba4c63;
  --bs-btn-disabled-border-color: #ba4c63;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #ba4c63;
  --bs-btn-border-color: #ba4c63;
  --bs-btn-focus-shadow-rgb: 186,76,99;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ba4c63;
  --bs-btn-hover-border-color: #ba4c63;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ba4c63;
  --bs-btn-active-border-color: #ba4c63;
  --bs-btn-disabled-color: #ba4c63;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ba4c63;
}

