        <div class="col-sm-3">
            <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                The current link item
            </a>
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="/logout" class="list-group-item list-group-item-action">Log Out</a>
            <a href="#" class="list-group-item list-group-item-action disabled" aria-disabled="true"><%= user._id %></a>
            </div>
            <div class="list-group mt-3">
            <li class="list-group-item list-group-item-secondary">Notes</li>
            <a href="#" class="list-group-item list-group-item-action">Note 1</a>
            <a href="#" class="list-group-item list-group-item-action">Note 2</a>
            <a href="#" class="list-group-item list-group-item-action">Note 3</a>
            <a href="#" class="list-group-item list-group-item-action">Note 4</a>
            <a href="#" class="list-group-item list-group-item-action">Note 5</a>
            </div>
        </div>